.about-us {
  overflow-x: hidden;

  &__new-device {
    max-width: 100vh;
    height: auto;
    display: block;
  
    margin: 0;
    padding: 0;
  }
  
  &__record-player {
    max-width: 100%;
  }
}


